#!/usr/bin/bash
export LEEWAY_WORKSPACE_ROOT=$PWD

if [[ $GITPOD_WORKSPACE_ID != "" ]]; then
  export LEEWAY_CACHE_DIR=/workspace/.leeway/cache LEEWAY_BUILD_DIR=/workspace/.leeway/cache
else
  export LEEWAY_CACHE_DIR=$PWD/.leeway/cache LEEWAY_BUILD_DIR=$PWD/.leeway/cache
fi